@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>

<html>
<head>
    @RenderSection("head", false)
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/LayoutStylesheet.css" />
    <title>@ViewBag.Title</title>
</head>
<body>

        <header>
        <div class="header">
            <a href="/MainPage" class="logo custom-link">University Voting System</a>
            <div class="header-right">
                <a class="active custom-link" href="MainPage">Home</a>
                <a href="/Contact" class="custom-link">Contact</a>
                @if (User == null || User.Identity == null)
                {
                    throw new ArgumentNullException(nameof(User));
                }
                else
                {
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a class="custom-link" href="Login">Log in</a>
                        <a class="custom-link" href="Registration">Register</a>
                    }
                    else{
                        <a class="custom-link" href="Profile">My profile</a>
                    }
                }

            </div>
        </div>
        </header>
    @RenderSection("main", true)
</body>
</html>
