@page "{Id}"
@model UniversityVotingSystem.webpages.VotingModel
@{
}

Hi
<p>@Model.VotingViewModelObj.getVoting().voting_name</p>
@{
    var array = @Model.VotingViewModelObj.GetHashTableReference().GetNodes();
    foreach(var node in array)
    {
        <p>Proposition: @node.getKey() has around @node.getValue() votes</p>
    }
}