html *
{
    font-family: Arial !important;
    margin:0px;
}

.custom-container-header
{
    margin:auto;
    justify-content: center;
}

.header .custom-link a:hover
{
    transition: none;
    color: black;
    text-decoration: none;
}

.custom-container-header h2
{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.custom-container-votings
{
    margin-left: 2rem;
    max-width: 40rem;
    align-content: center;
}

.custom-container-votings a
{
    padding-left: 2rem;
}