@page
@model UniversityVotingSystem.webpages.CreateVotingModel
@{
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/votingForm.js"></script>
    <link rel="stylesheet" href="/css/votingStyleSheet.css">
    <title>Document</title>
</head>
<body>
    <form method="post" id="create-voting">
        <div class="voting-name">
            <input type="text" placeholder="Voting name" id="votingName">
        </div>
        <div class="voting-name">
            <input type="radio" id="stateOpened" name="state" value="0" checked="checked">
            <label for="stateOpened">Opened</label>

            <input type="radio" id="stateClosed" name="state" value="1">
            <label for="stateClosed">Closed</label>
        </div>
        <div class="voting-name">
            <label for="startsAt">Starts at</label>
            <input type="datetime-local" id="startsAt" name="startsAt">
        </div>
        <div class="voting-name">
            <label for="endsAt">Ends at</label>
            <input type="datetime-local" id="endsAt" name="endsAt">
        </div>
        <div class="voting-propositions" id="proposition-1">
            <input type="text" placeholder="Proposition name">
        </div>
    </form>
    <button onclick="createProposition()">Create proposition</button>
    <button onclick="deleteLastProposition()">Delete last proposition</button>
    <button onclick="submitVoting()">Submit</button>
    <button onclick="makeGetRequest()">GET REQUEST</button>
</body>
</html>