@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    @RenderSection("head", false)
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/LayoutStylesheet.css" />
    <title>@ViewBag.Title</title>
</head>
<body>

        <header>
        <div class="header">
            <a href="#default" class="logo">University Voting System</a>
            <div class="header-right">
                <a class="active" href="MainPage">Home</a>
                <a href="#contact">Contact</a>
                @if (!User.Identity.IsAuthenticated)
                {
                    <a href="Login">Log in</a>
                    <a href="Registration">Register</a>
                }
                else{
                    <a href="Profile">My profile</a>
                }

            </div>
        </div>
        </header>
    @RenderSection("main", true);
</body>
</html>
