@page "/All-Votings"
@using static UniversityVotingSystem.webpages.AllVotingsModel
@using UniversityVotingSystem.Models;
@model UniversityVotingSystem.webpages.AllVotingsModel
@{
    Layout = "Layout/_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @section head
    {
    <title>All votings</title>
    <link rel="stylesheet" href="/css/all-votings.css"/>
    }
</head>
<body>
    @section main
    {
        <div class="custom-container">
            <div class="custom-container-header">
                <h2 class="custom-h2-centred">Current votings are located below</h2>
            </div>
            <div class="custom-container-votings">
                <div class="list-group">
                    @{
                        foreach (ProposotionsPerVotingObject propPerVot in @Model.propPerVotingObjectList)
                        {
                            <a asp-page="./Voting" asp-route-id="@propPerVot.GetVoting().voting_id" class="list-group-item list-group-item-action">@propPerVot.GetVoting().voting_name</a>
                        }
                    }
                </div>
            </div>
        </div>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"/>
    }
</body>
</html>