@page
@model UniversityVotingSystem.webpages.MainPageModel
@{
}

<!Doctype html>
<html>
    <head>
        <Title>University Voting System</Title>
        <link rel="stylesheet"  />
    </head>
    <body>
        <h1>Hello, the css file is working</h1>
    </body>
</html>

