@page "/"
@model UniversityVotingSystem.webpages.MainPageModel
@{
    Layout = "Layout/_Layout";
}

<!Doctype html>
<html>
    <head>
        @section head {
        <Title>University Voting System</Title>
        <link rel="stylesheet" href="/css/MainPageStyleSheet.css"/>
        }
    </head>
    <body>
        @section main{
        <main>
            <h3>Current voting:</h3>
            <ul>
                <li>Vote to choose a school president</li>
                <li>Vote for the best student of the year</li>
            </ul>

            <h3> Shortly about us</h3>
            <p>This system was created by our university to speed up such processes as voting and etc.</p>
        </main>
        }
    </body>
</html>

